.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.container p {
	font-weight: bold;
	color: red;
	font-size: 50px;
	margin: 0;
	margin-top: 25px;
	/* width: 300px */
}

/* .jokeCon{
	content: "";
	background-color: black;
	opacity: 0.7;
	overflow: scroll;
	
} */

h5 {
	
	/* color: rgb(246, 0, 0); */
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

.jokeCon {
	color: red;
	content: "";
	background-color: black;
	opacity: 0.7;
	overflow: scroll;
	font-weight: bold;
}